</body>
<div class="container">
  <hr>
  <footer>
    <a href="https://github.com/tomrhudson/great-calc"><i class="fab fa-github"></i></a>
  </footer>
</div>


<script src="/assets/calc.js" charset="utf-8"></script>

</html>
