<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
  <div class="container">
    <button class="btn btn-primary btn-lg m-3" id="bmiCalc" type="button" name="button" onclick="calcBMI()">Calculate BMI</button>
    <button class="btn btn-primary btn-lg m-3" id="poundsToKilograms" type="button" name="button" onclick="poundsToKilograms()">Pounds To Kilograms</button>
  </div>
</main>

<%- include('partials/footer') %>
