<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <div class="container">
      <button id ="bmiCalc" type="button" name="button" onclick="calcBMI()">Calculate BMI</button>
    </div>
  </main>

<%- include('partials/footer') %>
