<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">The Great Calculator</h1>
    <p class="lead">Let's Calculate</p>
    <hr>
  </div>
</div>

  <main>
    <div class="">
      <button id ="bmiCalc" type="button" name="button" onclick="calcBMI()">Calculate BMI</button>
    </div>
  </main>

<%- include('partials/footer') %>
