<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">The Great Calculator</h1>
    <p class="lead">Let's Calculate</p>
    <hr>
    <blockquote cite="http://">
      <p>
        <em>
          Mathematicians have tried in vain to this day to discover some order in the sequence of prime numbers, and we have reason to believe that it is a mystery into which the human mind will never penetrate.
        </em>
      </p>

      <p>
        ~ Leonhard Euler
      </p>
    </blockquote>
  </div>
</div>



<%- include('partials/footer') %>
