<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-calculator fa-5x"></i>
    <h1 class="display-3">The Great Calculator</h1>
    <p class="lead">Let's Calculate</p>
    <hr>

  </div>
</div>

<%- include('partials/header') %>
